@import '../../styles/styles.scss';

.projects {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    color: #fff;

    .projects__title {
        width:100%;
        flex: 1;
        text-align: center;
        margin-top: 60px;
        font-size: 25px;
        border-style: solid;
        border-width: 2px;

        .projects__title-text {
            border-bottom: 2px solid $color-primary;
        }
    }

    .projects__content {
        width:100%;
        flex: 2;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    



        .projects__content-card {
            display: flex;
            flex-basis: calc(50% - 50px);
            justify-content: center;
            flex-direction: column;
            height:auto;
            margin:25px;
        }
    }
}




.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    color: #fff;

    .about__title {
        flex: 1;
        text-align: center;
        margin-top: 60px;
        font-size: 25px;
        border-style: solid;
        border-width: 2px;
        display: flex;
        align-items: center;

        .about__title-text {
            border-bottom: 2px solid $color-primary;
        }
    }

    .about__content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        min-height: 100%;

    }


}