@import '../../styles/styles.scss';

.btn{
    padding: 9px 20px;
    height: auto;

    &.btn--medium{
        padding:8px 30px;
        font-size: 16px;
    }

    &.btn--large{
        padding:8px 36px;
        font-size:20px;
    }


    &.btn--primary{
        color: $color-primary;
    }

    &.btn--outline{
        background-color: transparent;
        color: $color-primary;
        border:2px solid $color-primary;
    }



}



